 <!-- Description Section Start -->
 <div id="description-section">
    <h3>DESCRIPTION</h3>
    <input type="textarea" required name="description" placeholder="What do you need to do?"> 
</div>
<!--End Description Section -->
<div id="category-date-section">

    <!-- Category Section Start -->
    <div class="select_and_input">
        <h3>CATEGORY</h3>        
        <select name="category">
            <option value="" disabled class="inner-text" selected>Select your option</option>
            <option>Personal</option>
            <option>Work</option>
            <option>Cleaning</option>
            <option>Others</option>
        </select>
    </div>
    <!-- End Category Section -->

    <!-- Due Date Section Start -->
    <div class="select_and_input">
        <h3>DUE DATE</h3>
        <input class="datesValues" type="date" name="dueDate">
    </div>
    <!-- End Due Date Section -->
</div>