<!-- Form Section Start -->
<form action="/create_todo" method="POST">
    <%- include('_des_cate_date'); %>
    <!-- Button Section Start -->
    <div id="btn-section">
        <button class="buttonDesign colorGrey" id="submitButton" type="submit"><i class="fa fa-plus-square"> </i>&nbsp; Add Task</button>
        <button class="buttonDesign colorRed" id="deleteButton" type="submit"><i class="fa fa-trash-o"></i>	&nbsp;Delete Task</button>
    </div>
    <!--End Button Section -->
</form>
<!-- End Form Section -->

            <!-- For Displaying TODO Lists -->
           


    
    <!-- adding sweetalert for alert notification -->
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <!-- Adding Js File -->
    <script src="/assets/js/script.js"></script>
</body>
</html>