/* Styling for common style  */

/* style for body */
body{
    margin: 0;
    font-family: sans-serif Impact;
    background-color: silver;
    box-sizing: border-box;
}

/* Hide scrollbar for Chrome, Safari and Opera */
#container::-webkit-scrollbar {
    display: none;
}

/* Styling main container */
#container{
     border: 1px solid gray ;
    width: 50%;
    height: auto;
    margin: 0 20rem;
    background-color: #1C1C27;
    padding-bottom: 40px;
    overflow: auto;
}

/* style for TODO heading */
h1{
    color: #F10A51;
    text-align: center;
    border-bottom: 1px solid rgb(184, 180, 180);
    margin-bottom: 0;
    padding-bottom: 6px;
    height: 3rem;
    font-weight: bolder;
    font-size: 2.5rem;
}
h1 span{
    color: #0084C6;
}

/* style for form */
.form_class{
    height: auto;
}

/* style for form heading */
h3 {
    padding:3px 24px;
    color: gray;
    outline: none;
    margin: 0;
}

/* style for description area */
#description-section input{
    height: 3rem;
    width: 100%;
    background-color: whitesmoke;
    font-size: 1.1rem;
    font-weight: 550;
    color:grey;
    border: none;
    border-bottom: 1px solid grey;
    outline: none;
    padding-left: 22px;
    padding-bottom: 0;
    background-color: #1C1C27;
}

/* for placing placeholder in the left  */
/* input[type="textarea"]::placeholder { 
                  
    /* Firefox, Chrome, Opera 
    text-align: start;
    padding-left: 20px;
    margin-top: 0px;
    color: lightgray;
} */

/* implemented some hover in description section */
#description-section:hover{
    box-shadow: 0px 0px 1px 1px cyan ;
    background-color: #002F5E;
    cursor: pointer;
}

#description-section input:hover{
    background-color: snow;
    cursor: pointer;
}
/* Description section end */

/* Styling to category date section */
#category-date-section{
    display:flex;
    margin-bottom: 1px solid gray;
}

.select_and_input{
    width: 50%;
    border-left: 1px solid gray;
}

/* Category section */
.select_and_input select{
    height: 45px;
    width: 100%;
    text-align:left;
    padding-left: 20px;
    border: none;
    outline: none;
    border-bottom: 1px solid grey;
    font-size: 1rem;
    font-weight: 550;
    color: gray;
    background-color: #1C1C27;

}

/*  Date section */
.select_and_input input{
    height: 45px;
    width: 88%;
    text-align:left;
    padding:0 20px 0 20px;
    background-color: whitesmoke;
    border: none;
    outline: none;
    border-bottom: 1px solid grey;
    color: gray;
    font-size: 1rem;
    font-weight: 550;
    background-color: #1C1C27;

}

.date-icon::-webkit-calendar-picker-indicator {
    background-image: url('../image/calendar.svg');
    filter: invert(50%);
}

/* input[type="date"] {
    text-align: left;
    padding: 20px;
  } */

/* implemented some hover in category and date section */
input:hover{
    background-color: snow;
    cursor: pointer;
}

select:hover{
    background-color: snow;
    cursor: pointer;
}
.select_and_input:hover {
    box-shadow: 0px 0px 1px 1px cyan ;
    background-color: #002F5E;
    cursor: pointer;
}
/* design for select and option END */

/* Button section started */
#btn-section{
    text-align: center;
    /* border-bottom: 1px solid gray ; */
}

.buttonDesign{
    height: 50px;
    width: 160px;
    color: #bababc;
    transition: transform 0.3s;
    margin: 25px 1px 25px 1px;
    font-size: 20px;
    font-weight: 750;
}
.buttonDesign:hover{
    box-shadow: 0px 0px 5px 2px white ; 
    transform:scale(1.1);
    cursor: pointer;
}

.colorRed{
    background-color: #f10a51;
    
}

.colorGrey{
    background-color: #006B3F;
}

/* style for single task div container */
.singleTask{
    padding: 10px 20px;
    color: darkgrey;
    display: flex;
    justify-content: space-between;
    border-top:1px solid gray;
    justify-content: baseline;
    
}

.item{
    
    margin-right: 15px;
}

.item[type=checkbox]:checked + label {
    text-decoration: line-through; 
}

.task{
    font-size: 1.3rem;
    font-weight: 500;
    margin-top: 0;
}

.dueDate{
    margin-top: 5px;
    color: gray;
    font-size: 12px;
    padding-left: 35px;
}

/* list category section */

.commonClass{
    height: 1.3rem;
    width: 3.5rem;
    text-align: center;
    border-radius: 15px;    
    color: silver;
    transition: transform 0.3s;
    margin-top: 15px;
    padding: .25em .75em;
    font-size: 1rem;
}
.commonClass:hover{
    box-shadow: 0px 0px 5px 2px rgb(14, 6, 6) ; 
    transform:scale(1.2);
}


/* Design for different category */
.Work{
    background-color:lightcoral;
        
}
.Personal{
    background-color: #9a20ae;

}
.Cleaning{
    background-color: green;
}
.Others{
    background-color: teal;
}
/* .name_and_dueDate{
    height: auto;
    width: 30rem;
}
.dueDate{
    width: fit-content;
}
.color-white{
    color: white;
} */

















































/* #edit{
    margin-right: 15px;
}

#edit a{
text-decoration: none;
color: white;
border: 1px solid  white;
padding: 4px;
background-color: brown;
} */

/* design for edit sction */
/* .editClass{
        transition: transform 0.3s;
        position: absolute;
        left: 80%;
        margin: 20px;
}
.editClass:hover{
    box-shadow: 0px 0px 5px 2px rgb(14, 6, 6) ; 
    transform:scale(1.2);
}

.editClass a{
text-decoration: none;
color: white;
border: 1px solid  white;
padding: 4px;
background-color: #CFB317;
} */

/* edit class
#edit-select_and_input{
    /* background-color: aqua; 
    display: flex; 
    width: 100%;
}

#category {
    width: 50%;
    border-right: 1px solid gray;
    /* background-color: red; 
}

#date{
    width: 50%;
    /* background-color: green; 
} */

/* #todo-list-container{
    border: 2px solid #bababc;
} */




/* .form-heading:hover{
    box-shadow: 0px 0px 5px 2px white ; 
    background-color: darkslategrey;
    cursor: pointer; 
} */



/* 
.edit-button{
    background-color: brown;
    margin: 2rem 15rem;
    height: 50px;
    width: 160px;
    color: white;
    transition: transform 0.3s;
    font-size: 1.1rem;
}

.edit-button:hover{
    box-shadow: 0px 0px 5px 2px white ; 
    transform:scale(1.1);
    cursor: pointer;
} */





/* style for del check */
/* .delechack{
    margin: 15px;

} */
/* style for category section */

/* work , personal , other category showing */
/* .catesec{
    border: 1px solid black;
    background-color: chartreuse;
    background-color: aqua;
    border: 20px solid blue ;
} */










/* design for dates value */

/* .datesValues{
    transition: transform 0.3s;
} */
/* .datesValues:hover{
    box-shadow: 0px 0px 5px 2px white ;
    background-color: bisque;
} */
/* design for button */






/* input[type="date"]::placeholder { 
                  
     Firefox, Chrome, Opera 
    text-align: start;
     padding-left: 20px;
    padding-top: 0px;
    font-size: 1rem; 
} */
/* design for EDIT button*/
/* .edit-button{
    margin-top: 10px;
    height: 30px;
    width: 90px;
    background-color: brown;
    color: white;
} */
/* 
input.delechack{
    width: 17px;
    height: 17px;
} */



